.outer {
  background-color: #0a0a0a;
  color: #afafaf;
  grid-template-columns: minmax(auto, 35%) 4fr;
  padding: 0.75rem;
  gap: 2rem;
}

.gradient {
  font-size: 35px;
  font-weight: bold;
  background-image: linear-gradient(to bottom, blue, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
