.outer {
  color: #afafaf;
  gap: 2rem;
  display: grid;
  grid-template-columns: minmax(auto, 35%) 4fr;
  place-content: center;
}

@media (max-width: 780px) {
  .outer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "second-column"
      "first-column";
  }

  .gradient {
    grid-area: second-column;
  }

  .first-column {
    grid-area: first-column;
  }
}

.gradient {
  font-size: 35px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: inline-block;
  background-image: linear-gradient(to bottom, purple, pink);
}
